
  <h1>Login</h1>
<form [formGroup]="userForm" (ngSubmit)="submit()"class="form-group row g-3 formulario ">
    <div class=" col-auto">
      <label for="email" class="">Email</label>
      <input type="text"  name="email" class="form-control" id="email"  formControlName="email"placeholder="email@example.com">
      <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class ="alert alert-danger">
        <div *ngIf ="emailControl.hasError('email')">
          Debe ser formato email
        </div>
        <div *ngIf ="emailControl.hasError('required')">
          El email es requerido
        </div>
        </div>
    </div>
    <div class="col-auto">
      <label for="password" class="">Password</label>
      <input type="password" name="password"class="form-control" id="password" formControlName="password"placeholder="Password">
      <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)" class ="alert alert-danger">
        <div *ngIf ="passwordControl.hasError('required')">
          Password requerido
        </div>
        <div *ngIf ="passwordControl.hasError('minlength')">
          Minimo 6 caracteres
        </div>
        <div *ngIf ="passwordControl.hasError('maxlength')">
          Maximo 12 caracteres
        </div>
        </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary mb-3" [disabled]="userForm.invalid"mat-raised-button color="accent">Confirm identity</button>
    </div>
  </form>
