
  <h1 color="accent">Movies</h1>
<div class="movie-container">
<mat-card *ngFor="let movie of movies" style="width: 18rem;">
  <mat-card-header>
    <mat-card-title >{{movie.name}}</mat-card-title>
  </mat-card-header>
    <img mat-card-image [src]="movie.image" alt="...">
    <mat-card-content >

      <p class="card-text">Description.</p>

    </mat-card-content>

    <mat-card-actions>
    <button mat-raised-button color="accent"(click)="navigateToDetail(movie.id)">+ Info</button>
    <button mat-raised-button color="accent"(click)="addToCart(movie)">Add to Cart</button>

  </mat-card-actions>
</mat-card>

</div>


