<h1 color="accent">{{movie.name}}</h1>
<div class="movie-container">
<mat-card class="formulario">
  <mat-card-header>
    <mat-card-title >{{movie.name}}</mat-card-title>
  </mat-card-header>
    <img mat-card-image [src]="movie.image" alt="...">
    <mat-card-content >


      <p class="card-text">Category: {{movie.category}}.</p>
      <p class="card-text">Duration: {{movie.duration}}.</p>

    </mat-card-content>

    <mat-card-actions>
    <button mat-raised-button color="accent"(click)="addToCart(movie)">Add to cart</button>
  </mat-card-actions>
</mat-card>

</div>



