.movie-container{
  display:flex;
  margin:20px;
  flex-wrap:wrap;
  justify-content: space-around;
  .card{

      margin-bottom:20px;
  }
}
h1{
padding: 2rem;
text-align: center;
font-size:4rem;
}
.alert{
  text-align: center;
  width: 25%;
  margin: auto;
}
